.title {
  text-align: center;
}
.twoItems {
  margin-bottom: 10px;
  margin-left: 15%;
  display: grid;
  grid-template-columns: 70% 1%;
  grid-column-gap: 10%;
  align-items: center;
}
.threeItems {
  margin-bottom:         10px;
  margin-left:           15%;
  display:               grid;
  grid-template-columns: 70% 20% 1%;
  grid-column-gap:       10%;
  align-items:           center;
}
.checkIcon {
  color: #62BDA4;
  cursor:  pointer;
}
.timesIcon {
  color: #E86E6E;
  cursor:  pointer;
}
.exclamationIcon{
  color: #F9B233;
  cursor:  pointer;
}